# Node.js specific files and directories
node_modules/
npm-debug.log*
.env
.DS_Store # macOS specific

# Client-side (React) specific files and directories
client/build/
client/node_modules/
client/.env

# Server-side (Express) specific files and directories
server/node_modules/
server/.env

# Other common ignored files
logs/
*.log
*.pid
*.seed
*.pid.lock
.vscode/ # VS Code specific files
.idea/ # WebStorm/IntelliJ specific files